/wp-admin/
/wp-content/uploads/wp-migrate-db/*
/wp-content/languages

/wp-config.php

*.log

/.htaccess
.idea
.htaccess
/wp-content/themes/metanoia/node_modules/
/wp-content/plugins/akismet/
/wp-includes/

/wp-content/wflogs/*

/wp-content/themes/metanoia/src/build/browser-sync.config.js
/wp-content/themes/metanoia/css/child-theme.css
/wp-content/themes/metanoia/css/child-theme.css.map
/wp-content/themes/metanoia/css/child-theme.min.css
/wp-content/themes/metanoia/css/child-theme.min.css.map
/wp-content/wflogs/