.shopPage {
  #breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      list-style: none;
      &:not(:last-child) {
        &::after {
          content: ">";
          margin-inline: 5px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
